h1 {
    color: blueviolet; 
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Courier, monospace;
}
img{
    width: 50px;
}
p {
    text-align: center;
    font-family: fantasy;
}
.grecia1 { 
    width: 300px;
}
.fancy {
    width: 500px;
    margin: 20px auto;
    padding: 50px;
    border-width: 10px;
  }
  .datos { 
      align-content: center;
      box-sizing: border-box;
      display: inline-block;
    padding: 40px;
    width: 40%; display: inline-block;
  }
 

.datos img {
    align-content: flex-end;
     width: 300px}

.social {
        list-style: none;
        text-align: center;
      }
      
.social li {
        display: inline-block;
        margin: 0 20px;
        padding-top: 50px;
      }
      
.social img {
        height: 50px;
      }
